/* Header */
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0);
  z-index: 1001;
  border-bottom: 1px solid transparent;
  transition: background 0.5s, border-color 0.5s, opacity 1.2s;
  padding: 0 90px;
}

.header.hide {
  opacity: 0;
  pointer-events: none;
}

.header.sub {
  position: absolute;
}

.header.dark .header-nav > ul > li > a {
  color: #111111;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1740px;
  min-width: 0;
  height: 100%;
  margin: 0 auto;
  gap: 24px;
  position: relative;
}

.main-logo {
  width: 300px;
  height: 45px;
  background: url('../assets/images/common/main-logo.png') no-repeat center;
  background-size: contain;
  transition: background 0.5s, filter 0.5s, opacity 0.3s;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  filter: brightness(0) invert(1);
}

.header.dark .main-logo,
.header.sub .main-logo,
.header.active .main-logo {
  background: url('../assets/images/common/main-logo.png') no-repeat center;
  background-size: contain;
  filter: none;
}

.main-logo > a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  line-height: 0;
  color: transparent;
}

.header-nav {
  display: flex;
  justify-content: center;
  height: 100%;
  flex: 0 1 auto;
  max-width: 100%;
}

.header-nav > ul {
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
}

.header-nav > ul > li {
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
}

.header-nav > ul > li > a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  font-size: 18px;
  letter-spacing: -0.04em;
  color: #ffffff;
  position: relative;
  transition: color 0.5s;
}

.header.dark .header-nav > ul > li:hover > a {
  font-weight: 500;
  color: #144139;
}

.header-nav > ul > li > a::after {
  position: absolute;
  content: '';
  left: 50%;
  top: 0;
  width: 1px;
  height: 0;
  background: currentColor;
  transform: translateX(-50%);
  transition: height 0.5s;
}

.header-nav > ul > li:hover > a::after {
  height: 20px;
}

.header-nav > ul > li.active > a::after {
  height: 20px;
}

.header-nav > ul > li > a::before {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  background: currentColor;
  border-radius: 50%;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: transform 0.5s;
}

.header-nav > ul > li:hover > a::before {
  transform: translateX(-50%) scale(1);
}

.header-nav > ul > li.active > a::before {
  transform: translateX(-50%) scale(1);
}

.hamburger {
  display: none;
}

.hamburger-nav {
  display: none;
}

.hamburger-dim {
  display: none;
}

@media (max-width: 1600px) {
  .header {
    padding: 0 50px;
  }

  .main-logo {
    width: 200px;
  }

  .header-nav > ul > li > a {
    padding: 0 10px;
    font-size: 16px;
  }
}
